/*********************************************************************
*  =Header   ==Logo 
*********************************************************************/

$boston-blue: #3c81ad;

#site-header {
  padding-top: 40px;
  position: relative;
  height: 57px;
  margin-bottom: 50px;

  h1 a {
	font: 54px 'CalligraffitiRegular', Helvetica, Helvetica Neue, Arial, sans-serif;
	text-decoration: none;
	}
}

#site-header  h1 a:link, a:visited, a:hover, a:active {
  color: $boston-blue;
}