/*********************************************************************
/*  =menu
*********************************************************************/
// get your color
// http://chir.ag/projects/name-that-color/#6195ED 
// https://github.com/RichardBray/color-me-sass 

$fountain-blue: #659ec2;
$boston-blue: #3c81ad;
$white:#ffffff;

.menu {
    background-color: $fountain-blue;
    color: $white;

  a {
    float: left; 
    text-decoration: none;
    color: $white;
    padding: 10px 10px; 
  }

  a:hover {
    background-color:$boston-blue;
  }

}