/*********************************************************************
*
*   Author: @douglasdeodato
*   Sitw: lovelycss.com
*   Date : 26/11/2015
*   Version: bower.json or package.json   
*********************************************************************/

//Golden Rule:  
//100% = 16px  browsers default
//21px ÷ 16px = 1.5em
//use helpers/mixins/em-convert


html,
body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    color: $baseTextColor;
    font: $root-font-weight $root-font-size/#{$root-line-height} $root-font-family;
    padding-top: 50px;
    padding-bottom: 20px;
     
}

a {}
p { 
    @include remSize(12px);
    a { 
      text-decoration: none;
    }
      &:hover { }
}

ul {list-style-type: none;}

h1 {@include remSize(38px);}

h2 {@include remSize(24px);}

h3 {@include remSize(16px);}

h4 {text-transform: uppercase;}

h5 {}