/*********************************************************************
*   =Typography
* 	Author: @douglasdeodato
* 	Sitw: lovelycss.com
* 	Date : 26/11/2015
*   Version: bower.json or package.json   
*********************************************************************/


$root-font-size: 16px !default;
$root-line-height:1.5rem;

$root-font-weight:normal;

$root-font-family: MyriadPro, FontAwesome;
$baseTextColor: $black;

$font-size-normal: 1rem !default;
