/*********************************************************************
/*  =footer
*********************************************************************/

$white:#ffffff;
$boston-blue: #3c81ad;

.footer {
  padding: 2%;
  background-color:#659ec2;
  color:#fff;
  a {
    text-decoration: none;
    color: $white;
  }
  a:hover {
    color:$boston-blue;
  }

}