/*********************************************************************
*
* 	Author: @douglasdeodato
* 	Site: lovelycss.com
* 	Date : 26/11/2015
*   Version: bower.json or package.json   
*********************************************************************/
/* line 56, ../../scss/helpers/utilities/_config.scss */
.srt {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* ==========================================================================
  Browser support
  ========================================================================== */
/*

.class {
	@if $ie7 == true or $ie8 == true {
		do this
		}
}


.box {
  @if $ie7 == true {
    border: 1px solid #aaa
    }
  @else {
    -moz-box-shadow: 0 0 5px #aaa
    -webkit-box-shadow: 0 0 5px #aaa
    box-shadow: 0 0 5px #aaa
}
}
*/
/* line 6, ../../scss/helpers/_clearfix.scss */
.group {
  zoom: 1;
}

/* line 7, ../../scss/helpers/_clearfix.scss */
.group:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/* line 18, ../../scss/core/_base.scss */
html,
body {
  color: black;
  font: 400 16px/1.5rem "Tangerine", Helvetica, Arial, sans-serif, FontAwesome;
  height: 100%;
  min-height: 100%;
  padding-bottom: 20px;
  padding-top: 50px;
  width: 100%;
}

/* line 30, ../../scss/core/_base.scss */
p {
  font-size: 0.75em;
}
/* line 32, ../../scss/core/_base.scss */
p a {
  text-decoration: none;
}

/* line 38, ../../scss/core/_base.scss */
ul {
  list-style-type: none;
}

/* line 42, ../../scss/core/_base.scss */
h1 {
  font-size: 2.375em;
}

/* line 46, ../../scss/core/_base.scss */
h2 {
  font-size: 1.5em;
}

/* line 50, ../../scss/core/_base.scss */
h3 {
  font-size: 1em;
}

/* line 54, ../../scss/core/_base.scss */
h4 {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  /* line 2, ../../scss/core/media-queries/modules/_footer.scss */
  footer {
    background-color: #fff;
  }
}
/* line 15, ../../scss/modules/_header.scss */
header h1 {
  height: 40px;
  width: 140px;
  float: left;
  background: url(../../public/images/logo.png) 0 0 no-repeat;
  text-indent: -9999px;
}

/* line 23, ../../scss/modules/_header.scss */
header nav {
  float: right;
  margin-top: 40px;
}

/* line 28, ../../scss/modules/_header.scss */
header nav li {
  display: inline;
  margin-left: 15px;
}

/* line 34, ../../scss/modules/_header.scss */
.site-logo {
  background-image: url("../public/images/logo.png");
  background-repeat: no-repeat;
  width: 596px;
  height: 382px;
  display: inline-block;
  margin-top: 10px;
}

/* line 13, ../../scss/modules/_banner.scss */
#banner {
  float: left;
  margin-bottom: 20px;
  width: 100%;
}

/* line 19, ../../scss/modules/_banner.scss */
#banner img {
  width: 100%;
}

/* line 12, ../../scss/modules/_footer.scss */
footer {
  float: left;
  margin-bottom: 15px;
  width: 100%;
  background-color: #797e83;
}

/* line 12, ../../scss/pages/_index.scss */
#container {
  width: 96%;
  max-width: 920px;
  margin: auto;
  padding: 2%;
}
/* line 17, ../../scss/pages/_index.scss */
#container header {
  color: white;
  background-color: red;
}
/* line 21, ../../scss/pages/_index.scss */
#container a {
  color: red;
}
/* line 23, ../../scss/pages/_index.scss */
#container a:hover {
  color: blue;
}

/* line 32, ../../scss/pages/_index.scss */
#main {
  width: 70%;
  margin-right: 5%;
  float: left;
}

/* line 38, ../../scss/pages/_index.scss */
aside {
  width: 25%;
  float: right;
}

/* Media Queries */
@media screen and (max-width: 480px) {
  /* line 47, ../../scss/pages/_index.scss */
  header nav,
  #main,
  aside {
    float: left;
    clear: left;
    margin: 0 0 10px;
    width: 100%;
  }
}
@media (min-width: 768px) {
  /* line 2, ../../scss/core/media-queries/modules/_footer.scss */
  footer {
    background-color: #fff;
  }
}

/*# sourceMappingURL=lovelycss.dev.css.map */
