/*********************************************************************
*   
*
*   Author: @douglasdeodato
*   Sitw: lovelycss.com
*   Date : 26/11/2015
*   Version: bower.json or package.json   
*********************************************************************/


/*********************************************************************
*  =legend    
*********************************************************************/

$white       : #fff;
$black       : #000;
$green       : #5cb85c;
$red         : #d9534f;
$clear-red   : #c9302c;
$clear-gray  : #e6e6e6;
$orange      : #f5821f;
$orange-dark : #F60;
