// *********************************************************************
//   =Banner
//
//   Author: @douglasdeodato
//   Site: lovelycss.com
//   Date : 26/11/2015
//   Version: bower.json or package.json
// *********************************************************************


// Banner

#banner {
  float: left;
  margin-bottom: 20px;
  width: 100%;
}

#banner img {
  width: 100%;
}
