/*********************************************************************
*   =Footer
*
*   Author: @douglasdeodato
*   Site: lovelycss.com
*   Date : 26/11/2015
*   Version: bower.json or package.json   
*********************************************************************/

footer {
  float: left;
  margin-bottom: 15px;
  width: 100%;
}
