/** No spacing **/
.no-spacing {padding:0 !important;margin:0 !important;}
.no-spacing-v {margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;}
.no-spacing-h {margin-left:0;margin-right:0;padding-left:0;padding-right:0;}

/** No padding **/
.no-padding {padding:0 !important;}
.no-padding-v {padding-top:0;padding-bottom:0;}
.no-padding-h {padding-left:0;padding-right:0;}
.no-padding-right {padding-right:0;}
.no-padding-left {padding-left:0;}
.no-padding-top {padding-top:0;}
.no-padding-bottom {padding-bottom:0;}

/** No margin **/
.no-margin {margin:0 !important;}
.no-margin-v {margin-top:0;margin-bottom:0;}
.no-margin-h {margin-left:0;margin-right:0;}
.no-margin-left {margin-left:0;}
.no-margin-right {margin-right:0;}
.no-margin-top {margin-top:0 !important;}
.no-margin-bottom {margin-bottom:0;}